*{
  font-family: Origin Tech Demo;
  position: relative;
}

/* This is a style of navbar */
.navbar {
  border-radius: 0.5rem;
  padding: 8px;
  display: flex;
  align-items: center;
  max-width: auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 10px 8px 10px #9F9F9F;
}

.navbar h1 {
  color: #000000;
}

.pomodoro-logo{
  width: 280px;
}

.links {
  margin-left: 1%;
}

.links1{
  margin-left: auto;
  margin-right: 0.8%;
}

.navbar .links1 {
  font-size: medium;
}

.profile{
  margin-left: 1%;
}

.navbar .profile img{
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.navbar .Separadores {
  margin-left: 5%;
  text-decoration: none;
  padding: 8px;
}
.navbar a:hover {
  color: #000000;
  color: #5bbdb6;
}

/* Ended the style of navbar */

/* Start's style of the search input */

