
body{
    background: linear-gradient(to right, rgba(17,40,185,1) 25%, rgba(29,131,253,1) 52%, rgba(255,98,0,1) 77%);
    background-size: 300% 100%;
    animation-name: degrade;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
